/* Using outline instead of border so it doesn't shift the layout */
.resume-extension-inspect {
    outline: 0.1rem solid #3b82f6 !important;
    outline-offset: -0.05rem !important;
    cursor: crosshair !important;
    background-color: rgb(221, 234, 255) !important;
}
